
			<!-- 右侧分区 -->
			<div class="col-md-3">
				<!-- 使用  面板  panel -->
				<div class="panel panel-default hot">
					<div class="panel-heading">
						热门文章
					</div>
					<div class="panel-body">
						<!-- 无格式  无序列表 -->
						<ul class="list-unstyled">
						<% for(var i=0;i<hot.length;i++){ %>
							<% if(i<3){ %>
								<li>
								<span class="label label-danger"><%= i+1 %></span>
								<a href="/posts?id=<%= hot[i]._id %>&category_id=<%=hot[i].category_id%>">
								<%= hot[i].title %>
								<% if(hot[i].subject){%>
									<%= hot[i].subject %>
								<%}%>
								</a>
								<span class="fr"><%= hot[i].count %></span>
								</li>
							<% }else{ %>
								<li>
								<span class="label label-default"><%= i+1 %></span>
								<a href="/posts?id=<%= hot[i]._id %>&category_id=<%=hot[i].category_id%>">
									<%= hot[i].title %>
								</a>
								<span class="fr"><%= hot[i].count %></span>
								</li>
						<% }} %>
						</ul>
					</div>
				</div>
				<!-- echart表单 -->
				<div class="panel panel-default hot">
					<div class="panel-heading">
						阅读占比
					</div>
					<div class="panel-body echarts" id='echarts'>
						
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- 底部 -->
	<div class="footer container-fluid text-center">
		<p>版权所有，保留一切权利！ 转载内容版权归作者及来源网站所有，原创内容转载请注明来源。</p>
		<p>Copyright © 2013-2014 andy, All Rights Reserved.</p>
	</div>
	<!-- 搜索框的ajax请求 -->
	<script>
		//注册input事件
		$("#keyword").on("input", function(){
			//发送ajax请求
			var keyword = $(this).val().trim();
			$("#list").html('');
			if(keyword!=''){//非空字符串发出请求
				$.ajax({
					url : "/search",
					type : "get",
					data : {keyword1 : keyword},
					dataType : 'json',
					success : function(data){
						//对结果进行处理
						console.log(data);
						var res = "";	
						data.forEach(function(item) {
							res += "<li><a href=/posts?id="+item._id+"&category_id="+item.category_id+">"+item.title+"</a></li>"
						});	
						$("#list").html(res);
					}
				});
			}
		});
		$(function(){

			var options ={
			    tooltip : {
			        trigger: 'item',
			        formatter: "{a} <br/>{b} : {c} ({d}%)"
			        ,axisPointer: { type: 'none' } 
			    },
			    legend: {
			        // orient : 'vertical',
			        x : 'left',
			        data:[]
			    },
			    toolbox: {
			        show : false,
			        feature : {
			            mark : {show: true},
			            dataView : {show: true, readOnly: false},
			            magicType : {
			                show: true, 
			                type: ['pie', 'funnel'],
			                option: {
			                    funnel: {
			                        x: '50%',
			                        width: '50%',
			                        funnelAlign: 'center',
			                        max: 1548
			                    }
			                }
			            },
			            restore : {show: true},
			            saveAsImage : {show: true}
			        }
			    },
			    calculable : false,//外圈线
			    series : [
			        {
			            name:'访问来源',
			            type:'pie',
			            radius : ['30%', '50%'],
			            itemStyle : {
			                normal : {
			                    label : {
			                        show : true//提示配置文字

			                    },
			                    labelLine : {
			                        show : true//链接线
			                        ,length:2
			                        ,lineStyle:{
			                        	color:''
			                        	,type:'solid'
			                        	,width:2
			                        	,shadowOffsetX:10
			                        }
			                    },
			                    borderWidth:0
			                },
			                emphasis : {
			                    label : {
			                        show : true,
			                        position : 'center',
			                        textStyle : {
			                            fontSize : '18',
			                            fontWeight : 'bold'
			                        },
			                        borderWidth:0
			                    }
			                }
			            },
			            data:[],
			            center:['50%','60%']
			        }
			    ]
			};
			console.info('初始化');
			console.info(echarts);
			$.ajax({
				url:'/echart',
				type : "get",
				data : '',
				dataType : 'json',
				success : function(data){
					console.info(data);
					var seriesData=[],lengedData=[];
					for(var i=0;i<data.length;i++){
						seriesData.push({name:data[i].title,value:data[i].count});
						lengedData.push({name:data[i].title,textStyle:{color:'auto'}});
					}
					options.legend.data = lengedData;
					options.series[0].data = seriesData;
					console.info(options);
					var myChart = echarts.init(document.getElementById('echarts')).setOption(options);
					$(window).resize(function(){
			           myChart.resize();
			        });
				}
			});
            
           
		});
	</script>
</body>
</html>



