<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>A_one</title>
	<link rel="favicon" href="./img/37.png">
	<link rel="stylesheet" href="/css/bootstrap.min.css">
	<script src='/js/jquery-1.11.3.min.js'></script>
	<script src="/js/bootstrap.min.js"></script>
	<script src='/js/markdown.min.js'></script>
	<!-- <link rel="stylesheet" href="./css/index.css"> -->
	<style>
		body{padding-top: 50px;background: #f2f2f2;}
		.main{margin-top: 20px;}
		.main-left{background: #fff;padding-top: 20px;}
		.media-left img{width: 280px;height: 180px;}
		.media{margin-top: 20px;border-bottom: 1px dashed #ddd;padding-bottom: 20px;}
		.media-body{color:#666;}
		.media-body ul{margin: 10px 0;}
		.media-body h2{font-size: 24px;font-family: '微软雅黑';}
		.hot li{line-height: 26px;overflow: hidden; white-space:nowrap;text-overflow:ellipsis; }
		.hot li span{margin-right: 10px;}
		.footer{background: #222;color:#999;padding-top: 20px;margin-top: 20px;font-size: 12px;}
		.pagination a.on{background-color: #ccc;color:red;}
		.pagination a.btn{width: 60px;}
		#list{    list-style: none;
			    padding-left: 5px;
			    position: absolute;
			    top: 30px;
			    background: #fff;
			    left: 2px;
			    top: 35px;
			    width: 100%;
			    border-radius: 10px;
			    line-height: 30px;

		}

		@media screen and(max-width: 768px){
			.meida-left,.meida-body{display: block!important;margin-top: 20px;}
		}
	</style>
</head>
<body>
<!-- 导航 -->
	<nav class="navbar navbar-default navbar-inverse navbar-fixed-top">
		<div class="container">
			<div class="navbar-header">
				<a href="" class="navbar-brand">A_one</a>
				<!-- 下拉菜单按钮 -->
				<button class="navbar-toggle" data-target='#menu' data-toggle='collapse'>
					<!-- 横线 -->
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
			</div>
			<!-- 下拉菜单主体 -->
			<div class="collapse navbar-collapse" id='menu'>
				<!--  -->
				<ul class="navbar-nav nav">
					<% for(var i=0;i<data2.length;i++){%>
						<li class="active"><a href=""><%= data2[i].title %> </a></li>
					<% } %>
					<!-- <li class=""><a href="">HTML</a></li>
					<li class=""><a href="">CSS</a></li>
					<li class=""><a href="">JavaScript</a></li>
					<li class=""><a href="">BootStrap</a></li> -->
				</ul>
				<!-- 导航所有框 -->
				<form action="" class='navbar-form navbar-right'>
					<div class="input-group">
						<input type="text" placeholder='请输入关键字' class='form-control' id='keyword'>

						<span class="input-group-btn">
							<button class="btn btn-primary">搜索</button>
						</span>
						<ul id='list' style="position"></ul>
					</div>
				</form>
			</div>
		</div>
	</nav>

<!-- 巨幕图片 -->
	<div>
		<img src="/img/baner.jpg" alt="" class='img-responsive'>
	</div>
<!-- 主体部分 -->
	<div class="container main">
		<!-- 栅格模式  分布 -->
		<div class="row">
			<!-- 左边区域 -->
			<div class="col-md-9 main-left">
				<!-- 媒体对象 -->
				<ul class="meida-list" id='moreart'>
						<!-- 媒体对象列表  列 -->
					<% for(var i=0;i<data1.length;i++){ %>
					<li class="media">
						<!--左边区 -->
						<a href="" class="media-left">
							<img src="<%= data1[i].cover %>" alt="">
						</a>
						<!-- 主区 -->
						<div class="media-body">
							<!-- 主区头部 -->
							<h2 class="meida-heading"><a href="/posts?id=<%= data1[i]._id%>"><%= data1[i].title %>
							<% if(data1[i].subject){%>
								<%= data1[i].subject %>
							<%}%>
								</a></h2>
							<ul class="list-inline">
								<li>
									<span class="glyphicon glyphicon-user"></span>
									admin
								</li>
								<li>
									<span class="glyphicon glyphicon-time">
									</span> <%= data1[i].times.toLocaleString() %>
								</li>
								<li>
									<span class="glyphicon glyphicon-eye-open"></span>
									 <%= data1[i].count %> 
									 浏览
								</li>
								<li>
									<span class="glyphicon glyphicon-comment"></span>
									<a href="">评论一下</a>
								</li>
							</ul>
							<div id='markdown<%= i%>' class='content'><%= data1[i].content %></div>
						</div>
					</li>
					<% } %>
				</ul>
		<script>
			<% for(var i=0;i<data1.length;i++){ %>
				$('#markdown<%= i%>').html(markdown.toHTML( $('#markdown<%= i%>').html()).slice(0,50));
			<% } %>
		</script>

				<!-- 分页 条-->
				<div class="text-center">
				<p>总共有<%= ajax.num %>条记录，每一页显示<%= ajax.length %>条，<%= ajax.page %>/<%= ajax.pages %></p>
					<ul class="pagination">
						<li><a href='javascript:void(0)' id='less'>&laquo;</a></li>
						<% for(var i=0;i<ajax.pages;i++){%>
						<% if(i == ajax.page-1 ){ %>
								<li class='pageli'><a href='javascript:void(0)' onclick='getBlogs(<%= i+1 %>)' class='pages on' id='pages'><%= i+1 %></a></li>
							<% } else{%>
								<li class='pageli'><a href='javascript:void(0)' onclick='getBlogs(<%= i+1 %>)' class='pages' id='pages'><%= i+1 %></a></li>
						<% } } %>
						<li><a  href='javascript:void(0)' id='more'>&raquo;</a></li>
					</ul>
				</div>
			</div>

			<!-- 右侧分区 -->
			<div class="col-md-3">
				<!-- 使用  面板  panel -->
				<div class="panel panel-default hot">
					<div class="panel-heading">
						热门文章
					</div>
					<div class="panel-body">
						<!-- 无格式  无序列表 -->
						<ul class="list-unstyled">
						<% for(var i=0;i<hot.length;i++){ %>
							<% if(i<3){ %>
								<li><span class="label label-danger"><%= i+1 %></span><a href="/posts?id=<%= hot[i]._id %>">
								<%= hot[i].title %>
								<% if(hot[i].subject){%>
									<%= hot[i].subject %>
								<%}%>
								</a></li>
							<% }else{ %>
								<li><span class="label label-default"><%= i+1 %></span><a href="/posts?id=<%= hot[i]._id %>"><%= hot[i].title %></a></li>
							
						<% }} %>
							<!-- <li><span class="label label-danger">2</span><a href="">假如5年后你是开发总监</a></li>
							<li><span class="label label-danger">3</span><a href="">20个精雕细琢的LOGO草图...</a></li>
							<li><span class="label label-default">4</span><a href="">每个程序员都必须遵守的编程...</a></li>
							<li><span class="label label-default">5</span><a href="">推荐：7个有用的HTML5学习...</a></li>
							<li><span class="label label-default">6</span><a href="">响应式Web设计</a></li>
							<li><span class="label label-default">7</span><a href="">Javascript判断Chrome浏览器</a></li> -->
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
<!-- 底部 -->
	<div class="footer container-fluid text-center">
		<p>版权所有，保留一切权利！ 转载内容版权归作者及来源网站所有，原创内容转载请注明来源。</p>
		<p>Copyright © 2013-2014 andy, All Rights Reserved.</p>
	</div>
	<script>
		var page =1;
		var pagenum =<%= ajax.pages %>;//总页数
		var mun = <%= ajax.length%>;//每页显示文章数
		//发起ajax请求，湖区第一页的内容
		// getBlogs(page);
		// console.info(pagenum);
		//封装getBlogos函数，使用ajax获取博客内容
		function getBlogs(pages){
			//图标的变化
			$('.pageli:eq('+(pages-1)+')').find('a').addClass('on').parent().siblings().find('a').removeClass('on');
			page=pages;
			console.info(page);
			if(pages==1){
					$('#less').css({background:'#ccc'});
					$('#more').css({background:'#fff'});
				}else if(pages==pagenum){
					$('#more').css({background:'#ccc'});
					$('#less').css({background:'#fff'});
				}else{
					$('#less').css({background:'#fff'});
					$('#more').css({background:'#fff'});
				}
			$.ajax({
				url:'/page',//路径
				type:'get',//方式
				data:{page:pages},//get方式传递的数据
				dataType:'json',
				//在每次发送ajax请求的时候，设置这个值
				beforeSend:function(){
					$('#moreart').text('拼命加载中...');
				},
				//请求完毕后 ，再次设置button 内容
				// 在success之后发生，冲突
				/*complete:function(){
					$('#more').text('加载更多');
				},*/
				success:function(data){
					//传回来的数据
					// console.info(data);
					// console.info('data');
					//对数据进行处理判断，
					//判断返回的内容是否为空
					if(data.length != 0){
						//进行字符串拼接
						var res = "";
							data.forEach(function(item,index){
								res += 	'<li class="media">';
								res += 	'<a href="" class="media-left"><img src="'+item.cover +'" alt=""></a>';
								res += 	'<div class="media-body">';
								res += 	'<h2 class="meida-heading"><a href="/posts?id='+item._id+'">'+item.title +'</a></h2>';
								res += 	'<ul class="list-inline">';
								res += 	'<li><span class="glyphicon glyphicon-user"></span>admin</li>';
								res += 	'<li><span class="glyphicon glyphicon-time"></span>'+item.times.toLocaleString()+'</li>';
								res += 	'<li><span class="glyphicon glyphicon-eye-open"></span>'+item.count +'浏览</li>';
								res += 	'<li><span class="glyphicon glyphicon-comment"></span><a href="">评论一下</a></li>';
								res += 	'</ul>';
								res += 	'<div id="markdown'+ index+'" class="content">'+item.content +'</div></div></li>';
							// res += 	'<script>$("#markdown'+index+'").html(markdown.toHTML( $("#markdown'+ index +'").html()).slice(0,50));</ script>';
							// 
							// 
						});
						//将拼接好的内容，追加到section中
						$('#moreart').html(res);
						//请求完成后，再次设置button中的的内容
						// $('#moreart').text('加载更多');
					}else{
						//没有数据了
						$('#moreart').text('没有更多了');
					}
					markdowns();
				}
			});
		}

		//给button 添加点击事件
		$('#more').on('click',function(){
			if(page<pagenum){
				getBlogs(++page);
			}
		});
		$('#less').on('click',function(){
			if(page>1){
				getBlogs(--page);
			}
		});
		//文章内容格式转化   markdown----html
		function markdowns(){
			var len = $('.content').length;
			for( var i=0;i<len;i++){
				$('#markdown'+i).html(markdown.toHTML( $('#markdown'+i).html()).slice(0,50));
			 }
		}
		// console.info($('.content'));
		// 
		// 
		// 搜索框的ajax请求
		//注册input事件
		$("#keyword").on("input", function(){
			//发送ajax请求
			var keyword = $(this).val().trim();
			if(keyword!=''){//非空字符串发出请求
				$.ajax({
					url : "/search",
					type : "get",
					data : {keyword : keyword},
					dataType : 'json',
					success : function(data){
						//对结果进行处理
						console.log(data);
						var res = "";	
						data.forEach(function(item) {
							res += "<li><a href=/posts?id="+item._id+">"+item.title+"</a></li>"
						});	
						$("#list").html(res);
					}
				});
			}
		});


	</script>
</body>
</html>



