
<% include header.html %>
            <!-- Right side column. Contains the navbar and content of the page -->
            <aside class="right-side">
                <!-- Content Header (Page header) -->
                <section class="content-header">
                    <h1>
                        管理中心
                        <small>控制台</small>
                    </h1>
                    <ol class="breadcrumb">
                        <li><a href="#"><i class="fa fa-dashboard"></i> 管理中心</a></li>
                        <li class="active">控制台</li>
                    </ol>
                </section>

                <!-- Main content -->
                <section class="content">



                </section><!-- /.content -->

                <section class="content-footer">
                    <div class="text-center">
                        © 2016 All Rights Reserved. Diamondwang
                    </div>
                </section><!-- /.content-footer -->

            </aside><!-- /.right-side -->
        </div><!-- ./wrapper -->

<% include footer.html %>
