<% include header.html %>
           <!-- Right side column. Contains the navbar and content of the page -->
        <aside class="right-side">
            <!-- Content Header (Page header) -->
            <section class="content-header">
                <h1>
                    文章添加
                    <small>文章</small>
                </h1>
                <ol class="breadcrumb">
                        <li><a href="/admin"><i class="fa fa-dashboard"></i> 管理中心</a></li>
                        <li class=""><a href="/admin/article">文章</a></li>
                    <li class="active">文章添加</li>
                </ol>
            </section>

            <!-- Main content -->
            <section class="content">
                <div class="row">
                    <div class="col-md-12">
                        <div class="box">
                            <!-- <form action="/admin/article/adds" method="post" enctype="multipart/form-data"> -->
                            <!-- 文件上传，文本，图片等等，不能以 字符串的方式传递，enctype=‘multipart/form-data'二进制的方式传递 在服务器，使用node的时候，依靠第三方文件如：muliparty等-->
                            <form action="/admin/article/edit %>" method="post" enctype="multipart/form-data">
                                <div class="box-header">
                                    <h3 class="box-title"></h3>
                                    <a href="/admin/article" class="btn btn-default pull-right">文章列表</a>
                                </div>
                                <!-- /.box-header -->

                                <div class="box-body">
                                    <div class="form-group">
                                        <label for="inputCategoryId">文章分类</label>
                                        <select name="category_id" id="inputCategoryId" class="form-control">
                                            <% for(var i=0;i<menu.length;i++){%>
                                            <% if(article.category_id == menu[i].title) {%>
                                                <option value="<%= menu[i].title %>" selected><%= menu[i].title%></option>
                                            <% }else{ %>

                                                <option value="<%= menu[i].title %>"><%= menu[i].title%></option>
                                            <% }} %>
                                          <!--   <option value="1">Node.js编程</option>
                                          <option value="2">PHP学习</option>
                                          <option value="3">JavaScript面向对象</option>
                                          <option value="4">React Native移动开发</option> -->
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <label for="inputSubject">标题</label>
                                        <input type="text" name="subject" placeholder="标题" id="inputSubject" class="form-control" value='<%= article.title %>'>
                                    </div>
                                    <div class="form-group">
                                        <label for="inputCover">文章封面</label>
                                        <input type="file" name="cover" id="inputCover" class="">
                                        <p><img src="<%= '/'+article.cover %>" style='width:50px;margin:10px 0 0 10px' alt="">
                                        <input type="hidden" name='img' value='<%= "/"+article.cover %>'>
                                        </p>
                                    </div>
                                    <div class="form-group">
                                        <label for="inputSummary">摘要</label>
                                        <textarea name="summary" placeholder="摘要" id="inputSummary" class="form-control"><%= article.summary %></textarea>
                                    </div>
                                    <div class="form-group">
                                        <label for="inputContent">内容</label>
                                        <textarea name="content" class="form-control" id="inputContent" cols="30" placeholder="内容" value='' rows="10"><%= article.content %></textarea>
                                    </div>
                                    <div class="form-group">
                                        <label for="inputTag">文章标签</label>
                                        <div class="row">
                                        </div>
                                    </div>
                                </div>
                                <input type="hidden" name='article_id' value="<%= article._id %>">
                                <!-- /.box-body -->
                                <div class="box-footer clearfix">
                                    <button class="btn btn-primary" type="submit" name="submit" value="publish">修改</button>
                                    <button class="btn btn-info" type="submit" name="submit" value="save">仅保存</button>
                                </div>
                                <!-- /.box-footer -->
                            </form>

                        </div>
                        <!-- /.box -->
                    </div>
                    <!-- /.col -->
                </div>
                <!-- /.row -->

            </section>
            <!-- /.content -->

            <section class="content-footer">
                <div class="text-center">
                    © 2016 All Rights Reserved. Diamondwang
                </div>
            </section>
            <!-- /.content-footer -->

        </aside>
            
            <!-- /.right-side -->
        </div><!-- ./wrapper -->
<% include footer.html %>