<% include header.html %>
            <!-- Right side column. Contains the navbar and content of the page -->
            <aside class="right-side">
                <!-- Content Header (Page header) -->
                <section class="content-header">
                    <h1>
                        分类编辑
                        <small>分类</small>
                    </h1>
                    <ol class="breadcrumb">
                        <li><a href="/admin"><i class="fa fa-dashboard"></i> 管理中心</a></li>
                        <li class=""><a href="/admin/menu">分类</a></li>
                        <li class="active">分类编辑</li>
                    </ol>
                </section>

                <!-- Main content -->
                <section class="content">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="box">
                                <!-- 相对于3000： -->
                                <form action="/admin/menu/update" method="post">
                                    <div class="box-header">
                                        <h3 class="box-title"></h3>
                                        <a href="/admin/menu" class="btn btn-default pull-right">分类列表</a>
                                    </div><!-- /.box-header -->

                                    <div class="box-body">
                                        <div class="form-group">
                                            <label for="inputTitle">分类标题</label>
                                            <!-- 匹配编辑的分类 -->
                                            <input type="title" placeholder="标题" id="inputTitle" value="<%= data.title%>" class="form-control" name='title'>
                                        </div>
                                        <div class="form-group">
                                            <label for="inputOrderNumber">排序</label>
                                            <input type="title" placeholder="排序" id="inputOrderNumber" value="<%= data.sort%>" class="form-control" name='sort'>
                                        </div>
                                        <input type="hidden" value='<%= data._id %>' name='id'>

                                    </div><!-- /.box-body -->
                                    <div class="box-footer clearfix">
                                        <button class="btn btn-primary" type="submit">提交</button>
                                    </div><!-- /.box-footer -->
                                </form>

                            </div><!-- /.box -->
                        </div><!-- /.col -->
                    </div><!-- /.row -->

                </section><!-- /.content -->

                <section class="content-footer">
                    <div class="text-center">
                        © 2016 All Rights Reserved. Diamondwang
                    </div>
                </section><!-- /.content-footer -->

            </aside><!-- /.right-side -->
        </div><!-- ./wrapper -->

<% include footer.html %>